* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(252.44deg, #353B41 0%, #191A1C 100%), linear-gradient(180deg, #1F2225 0%, #2E353B 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  border: none;
}